.chatList{
    min-width: 34%;
    height: calc(100% - 76px);
}

.searchBox{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #c8c8d5;
    padding-bottom: 12px;
}

.search{
    width: 100%;
    margin-left: 12px;
    background: transparent;
    outline: none;
    border: none;
    color: #000;
    font-size: 14px;
}

.search::placeholder{
    color:#b4b4ce;
}

.searchList{
    margin-top: 12px;
    width: 100%;
    height: calc(100% - 53px);
    overflow-y: auto;
    overflow-x: hidden;
}

