.chatContainer{
    width: 80%;
    background-color: #f3f3ff;
    color: #000;
    overflow: hidden;
    padding-top: 24px;
    padding-left: 48px;
    padding-right: 64px;
}

.statusLine{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.status{
    margin-right: 36px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.status span{
    font-size: 12px;
    font-weight: 500;
}

.status .icon{
    cursor: pointer;
}

.bell{
    cursor: pointer;
}

.chatLine{
    margin-top: 8px;
}

.chatLine span{
    font-size: 24px;
    font-weight: 600;
}

.chatContext{
    width: calc(100% - 24px);
    height: 100%;
    display: flex;
    gap:12px;
    margin-top: 10px;
    margin-left: 12px;
}

.noMessages{
    margin-left: 12px;
    width: 50%;
    height: calc(100% - 96px);
    display:flex;
    align-items:center;
    justify-content:center;
}

.noMessages span{
    font-weight: 600;
}