.mainLayout {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to right top, #674dd5, #ba66cd, #dd7abf, #f096b9, #f8b5be);
    background-position: 0;
    background-color: transparent;
    background-size: cover;
    background-attachment: fixed;
}

.chatBox {
    width: calc(100% - 80px);
    height: calc(100% - 80px);
    margin: 40px;
    background-color: transparent;
    display: flex;
}