.searchListItemWrapper {
    width: calc(100% - 8px);
    position: relative;
    transform: translateZ(0);
    overflow: visible;
}

.searchListItem {
    background: #FFF;
    display: flex;
    border-radius: 4px;
    padding: 14px;
    font-size: 12px;
    cursor: pointer;
    margin-bottom: 12px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    z-index: 0;
    overflow: visible;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
}

.searchListItem:hover {
    z-index: 10;
    transform: scaleX(1.1) scaleY(1.05);
}

.activeItem{
    transform: scaleX(1.1) scaleY(1.05);
    box-shadow: 0px 15px 10px -15px #111;    
}

.avatar {
    width: 48px;
    height: 48px;
}

.avatar img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat {
    width: calc(100% - 60px);
    margin-left: 12px;
    display: flex;
    justify-content: space-between;
}

.chat .user {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.chat .user .name {
    font-weight: 600;
}

.chat .user .lastMessage {
    color: #808080;
    font-size: 12px;
    font-weight: 600;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.status {
    padding: 4px 0;
}

.status .time {
    color: #808080;
    font-size: 10px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.status .unread {
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F00;
    border-radius: 50%;
    color: #FFF;
}

.status .unread span {
    font-size: 10px;
    font-weight: 600;
}

.chat .status {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}

.newChat{
    font-weight: 700;
    font-style: italic;
}