.chatWindow {
    width: 60%;
    margin-left: 12px;
    height: calc(100% - 96px);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.chatInfo {
    margin-top: -9px;
    border-bottom: 1px solid #c8c8d5;
    padding-bottom: 8px;
    margin-left: 8px;
}

.chatName span {
    font-size: 16px;
    font-weight: 600;
}

.sender span {
    font-size: 12px;
    font-weight: 500;
    color: #999a9e;
}

.username {
    font-weight: 700 !important;
}

.chatContext {
    width: 100%;
    height: calc(100% - 130px);
    flex: 1;
    display: flex;
    flex-direction: column;
}

.messages {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 8px;
    margin-top: 16px;
    overflow-y: auto;
    margin-bottom: 12px;
    padding-right: 24px;
}

.messages::-webkit-scrollbar {
    width: 5px;
    left: 50px;
}

.messages::-webkit-scrollbar-thumb {
    background-color: #b8b7bd;
    border-radius: 100rem;
}

.messages::-webkit-scrollbar-track {
    background-color: transparent;
}

.messageItem {
    width: 100%;
    display: flex;
    align-items: center;
}

.messageItem.sent {
    justify-content: flex-end;
}

.messageItem.sent .message {
    background-color: #298af3;

}

.messageItem.sent .message span {
    color: #FFF;
}

.messageItem .avatar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}

.messageItem .avatar img {
    border-radius: 50%;
}

.messageItem .avatar span {
    font-size: 10px;
    font-weight: 600;
    color: #9c9c9c;
}

.messageItem .message {
    margin-left: 8px;
    padding: 8px 16px;
    background-color: #e8e7ec;
    border-radius: 20px;
    text-align: justify;
}

.messageItem .message span {
    font-size: 12px;
    font-weight: 500;
    color: #000;
}

.messageInputSection {
    width: 100%;
    border-radius: 8px;
}

.recommend {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.recommendItem {
    margin-right: 8px;
    padding: 8px 12px;
    background: #FFF;
    cursor: pointer;
    border-radius: 20px;
}

.recommendItem span {
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    color: #514e4e;
}

.sectionContext {
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 12px;
    border-radius: 5px;
}


.sectionLeft {
    width: 90%;
    display: flex;
    align-items: center;
}

.messageInput {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    color: #000;
    background: transparent;
    outline: none;
    border: none;
    font-size: 14px;
}

.sectionRight {
    width: 10%;
    display: flex;
    align-items: center;
}

.sendButton {
    margin-left: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #2e87df;
    cursor: pointer;
    box-shadow: #91bbe5 0px 2px 1px, #9ebedf 0px 4px 2px, #a1bcd7 0px 8px 4px;
}

.icon {
    cursor: pointer;
}